@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
:root {
	--primary-col: #1e202a;
	--secondary-color: #d8ebe4;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-family: "Quicksand";
	box-sizing: border-box;
}

.navbar {
	width: 100%;
	position: sticky;
	z-index: 99;
	top: 0;
	background: var(--secondary-color);
	margin: 0 auto;
	box-shadow: 0 3px 15px -10px #00000055;
}
.navbar .nav-container {
	width: 100%;
	max-width: 850px;
	padding: 1rem;
	background: var(--secondary-color);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
body {
	background-color: var(--primary-col);
}
.heading {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.heading img {
	width: 3rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: 2px solid var(--primary-col);
}
.note {
	position: fixed;
	width: 100%;
	z-index: 99;
}
.noteP {
	width: 100%;
	max-width: 850px;
	margin: auto;
	font-size: 0.8rem;
	font-weight: 600;
	text-align: center;
	background: #fff8;
	padding: 0.3rem;
}

h2 {
	font-size: 1.3rem;
}
h2,
a {
	color: var(--primary-col);
	text-decoration: none;
	line-height: 1;
}

.btn {
	display: inline-block;
	text-align: center;
	background-color: var(--secondary-color);
	padding: 0.6rem 5vw;
	border-radius: 0.43rem;
	border: 2px solid var(--primary-col);
}
.btn:hover,
.btn:hover a {
	color: var(--secondary-color);
}
.btn:hover {
	background-color: var(--primary-col);
	border: 2px solid var(--primary-col);
}

.container {
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.3vw;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-bottom: 5rem;
	box-shadow: 0 0 15px -5px #00000055;
}

.container a img {
	transition: all 0.2s ease-in-out;
	max-width: 100%;
}
.container a:nth-child(1) {
	grid-column: span 2;
	grid-row: span 2;
}
.container a {
	overflow: hidden;
	font-size: 0.1px;
	aspect-ratio: 1 / 1;
	transition: all 0.2s ease-in-out;
}
.container a:hover img {
	transition: all 0.2s ease-in-out;
	transform: scale(1.15);
}
